In [63]:
import pandas as pd
us_mass_shooting=pd.read_csv('E:/file_of_python/US_Mass_Shootings/Mass Shootings Dataset Ver 2.csv',encoding='latin-1')
print(us_mass_shooting.head())

   S#                                 Title            Location       Date  \
0   1         Las Vegas Strip mass shooting       Las Vegas, NV  10/1/2017
1   2            San Francisco UPS shooting   San Francisco, CA  6/14/2017
2   3     Pennsylvania supermarket shooting     Tunkhannock, PA   6/7/2017
3   4  Florida awning manufacturer shooting    Orlando, Florida   6/5/2017
4   5      Rural Ohio nursing home shooting  Kirkersville, Ohio  5/12/2017

                                             Summary  Fatalities  Injured  \
0                                                NaN          58      527
1  Jimmy Lam, 38, fatally shot three coworkers an...           3        2
2  Randy Stair, a 24-year-old worker at Weis groc...           3        0
3  John Robert Neumann, Jr., 45, a former employe...           5        0
4  Thomas Hartless, 43, shot and killed a former ...           3        0

   Total victims Mental Health Issues   Race Gender   Latitude   Longitude
0            585              Unclear  White      M  36.181271 -115.134132
1              5                  Yes  Asian      M        NaN         NaN
2              3              Unclear  White      M        NaN         NaN
3              5              Unclear    NaN      M        NaN         NaN
4              3                  Yes  White      M        NaN         NaN

In [64]:
us_mass_shooting=us_mass_shooting.drop(['Title','Summary'],axis=1)

In [65]:
print(us_mass_shooting.head())

   S#            Location       Date  Fatalities  Injured  Total victims  \
0   1       Las Vegas, NV  10/1/2017          58      527            585
1   2   San Francisco, CA  6/14/2017           3        2              5
2   3     Tunkhannock, PA   6/7/2017           3        0              3
3   4    Orlando, Florida   6/5/2017           5        0              5
4   5  Kirkersville, Ohio  5/12/2017           3        0              3

  Mental Health Issues   Race Gender   Latitude   Longitude
0              Unclear  White      M  36.181271 -115.134132
1                  Yes  Asian      M        NaN         NaN
2              Unclear  White      M        NaN         NaN
3              Unclear    NaN      M        NaN         NaN
4                  Yes  White      M        NaN         NaN

In [66]:
print(us_mass_shooting['Mental Health Issues'].unique())

['Unclear' 'Yes' 'Unknown' 'No' 'unknown']

In [67]:
import numpy as np
us_mass_shooting['Mental Health Issues']=us_mass_shooting['Mental Health Issues'].apply(lambda x: 'Unknown' if x=='unknown' else x)
us_mass_shooting['Mental Health Issues']=us_mass_shooting['Mental Health Issues'].apply(lambda x: 'Unknown' if x=='Unclear' else x)
us_mass_shooting['Mental Health Issues']=us_mass_shooting['Mental Health Issues'].apply(lambda x: np.nan if x=='Unknown' else x)

In [68]:
print(us_mass_shooting['Race'].unique())

['White' 'Asian' nan 'Black' 'Latino' 'Other' 'Unknown'
 'Black American or African American' 'White American or European American'
 'Asian American' 'Some other race' 'Two or more races'
 'Black American or African American/Unknown'
 'White American or European American/Some other Race'
 'Native American or Alaska Native' 'white' 'black'
 'Asian American/Some other race']

In [69]:
import numpy as np
us_mass_shooting['Race']=us_mass_shooting['Race'].apply(lambda x: 'White' if x=='white' else x)
us_mass_shooting['Race']=us_mass_shooting['Race'].apply(lambda x: 'Black' if x=='black' else x)
us_mass_shooting['Race']=us_mass_shooting['Race'].apply(lambda x: 'Asian' if x=='Asian American' else x)
us_mass_shooting['Race']=us_mass_shooting['Race'].apply(lambda x: 'Other' if x== 'Some other race' else x)
us_mass_shooting['Race']=us_mass_shooting['Race'].apply(lambda x: 'White' if x== 'White American or European American' else x)
us_mass_shooting['Race']=us_mass_shooting['Race'].apply(lambda x: 'Black' if x== 'Black American or African American' else x)
us_mass_shooting['Race']=us_mass_shooting['Race'].apply(lambda x: 'Native American' if x== 'Native American or Alaska Native' else x)
us_mass_shooting['Race']=us_mass_shooting['Race'].apply(lambda x: 'Unknown' if x== 'Black American or African American/Unknown' else x)
us_mass_shooting['Race']=us_mass_shooting['Race'].apply(lambda x: 'Unknown' if x== 'White American or European American/Some other Race' else x)
us_mass_shooting['Race']=us_mass_shooting['Race'].apply(lambda x: 'Unknown' if x== 'Asian American/Some other race' else x)
us_mass_shooting['Race']=us_mass_shooting['Race'].apply(lambda x: np.nan if x== 'Unknown' else x)
print(us_mass_shooting['Race'].unique())

['White' 'Asian' nan 'Black' 'Latino' 'Other' 'Two or more races'
 'Native American']

In [70]:
us_mass_shooting['Location']=us_mass_shooting['Location'].astype('str')
us_mass_shooting['city']=us_mass_shooting['Location'].apply(lambda x: x.split(',')[0] if ',' in x else np.nan)
us_mass_shooting['state']=us_mass_shooting['Location'].apply(lambda x: x.split(',')[1] if ',' in x else np.nan)
print(us_mass_shooting.head())

   S#            Location       Date  Fatalities  Injured  Total victims  \
0   1       Las Vegas, NV  10/1/2017          58      527            585
1   2   San Francisco, CA  6/14/2017           3        2              5
2   3     Tunkhannock, PA   6/7/2017           3        0              3
3   4    Orlando, Florida   6/5/2017           5        0              5
4   5  Kirkersville, Ohio  5/12/2017           3        0              3

  Mental Health Issues   Race Gender   Latitude   Longitude           city  \
0                  NaN  White      M  36.181271 -115.134132      Las Vegas
1                  Yes  Asian      M        NaN         NaN  San Francisco
2                  NaN  White      M        NaN         NaN    Tunkhannock
3                  NaN    NaN      M        NaN         NaN        Orlando
4                  Yes  White      M        NaN         NaN   Kirkersville

      state
0        NV
1        CA
2        PA
3   Florida
4      Ohio

In [71]:
print(us_mass_shooting['Gender'].unique())

['M' 'Unknown' 'Male' 'M/F' 'Male/Female' 'Female']

In [72]:
us_mass_shooting['Gender']=us_mass_shooting['Gender'].apply(lambda x: 'Male' if x=='M' else x)
us_mass_shooting['Gender']=us_mass_shooting['Gender'].apply(lambda x: np.nan if x=='Unknown' else x)
us_mass_shooting['Gender']=us_mass_shooting['Gender'].apply(lambda x: np.nan if x=='M/F' else x)
us_mass_shooting['Gender']=us_mass_shooting['Gender'].apply(lambda x: np.nan if x=='Male/Female' else x)
print(us_mass_shooting['Gender'].unique())

['Male' nan 'Female']

In [73]:
us_mass_shooting.to_csv('E:/file_of_python/US_Mass_Shootings/Mass Shootings Dataset(after cleaning).csv',index=None,encoding='utf_8')

In [ ]:
#以为到这里就可以直接使用Tableau了，然而，将数据读入Tableau之后，发现了字段‘state’竟然包含了城市的数据、发生地不在美国的数据，所以还需要进一步处理。

In [74]:
print(us_mass_shooting.head())

   S#            Location       Date  Fatalities  Injured  Total victims  \
0   1       Las Vegas, NV  10/1/2017          58      527            585
1   2   San Francisco, CA  6/14/2017           3        2              5
2   3     Tunkhannock, PA   6/7/2017           3        0              3
3   4    Orlando, Florida   6/5/2017           5        0              5
4   5  Kirkersville, Ohio  5/12/2017           3        0              3

  Mental Health Issues   Race Gender   Latitude   Longitude           city  \
0                  NaN  White   Male  36.181271 -115.134132      Las Vegas
1                  Yes  Asian   Male        NaN         NaN  San Francisco
2                  NaN  White   Male        NaN         NaN    Tunkhannock
3                  NaN    NaN   Male        NaN         NaN        Orlando
4                  Yes  White   Male        NaN         NaN   Kirkersville

      state
0        NV
1        CA
2        PA
3   Florida
4      Ohio

In [75]:
print(us_mass_shooting['state'].unique())

[' NV' ' CA' ' PA' ' Florida' ' Ohio' ' California' ' WA' ' LA' ' Texas'
 ' Missouri' nan ' Virginia' ' North Carolina' ' Tennessee' ' Texas '
 ' Kentucky' ' Alabama' ' Pennsylvania' ' Kansas' ' Massachusetts'
 '  Virginia' ' Washington' ' Arizona' ' Michigan' ' Mississippi'
 ' Nebraska' ' Colorado' ' Minnesota' ' Georgia' ' Maine' ' Oregon'
 ' South Dakota' ' New York' ' Louisiana' ' Illinois' ' South Carolina'
 ' Wisconsin' ' Montana' ' New Jersey' ' Indiana' ' Oklahoma' ' New Mexico'
 ' Idaho' ' Souderton' ' West Virginia' ' Nevada' ' Albuquerque'
 ' Connecticut' ' Arkansas' ' Utah' ' Lancaster' ' Vermont' ' San Diego'
 ' Hawaii' ' Alaska' ' Wyoming' ' Iowa']

In [76]:
print(us_mass_shooting[us_mass_shooting['state']==' Lancaster'])

      S#                               Location       Date  Fatalities  \
221  222  Nickel Mines, Lancaster, Pennsylvania  10/2/2006           6

     Injured  Total victims Mental Health Issues   Race Gender   Latitude  \
221        5             10                  NaN  White   Male  40.042144

     Longitude          city       state
221 -76.301009  Nickel Mines   Lancaster

In [77]:
us_mass_shooting=us_mass_shooting.drop(221)

In [78]:
print(us_mass_shooting[us_mass_shooting['state']==' Lancaster'])

Empty DataFrame
Columns: [S#, Location, Date, Fatalities, Injured, Total victims, Mental Health Issues, Race, Gender, Latitude, Longitude, city, state]
Index: []

In [81]:
us_mass_shooting['state']=us_mass_shooting['state'].apply(lambda x: 'California' if x==' San Diego' else x)

In [82]:
us_mass_shooting['state']=us_mass_shooting['state'].apply(lambda x: 'Pennsylvania' if x==' Souderton' else x)

In [84]:
us_mass_shooting['state']=us_mass_shooting['state'].apply(lambda x: 'NM' if x==' Albuquerque' else x)

In [85]:
us_mass_shooting.to_csv('E:/file_of_python/US_Mass_Shootings/Mass Shootings Dataset(after cleaning).csv',index=None,encoding='utf_8')

In [86]:
print(us_mass_shooting.head())

   S#            Location       Date  Fatalities  Injured  Total victims  \
0   1       Las Vegas, NV  10/1/2017          58      527            585
1   2   San Francisco, CA  6/14/2017           3        2              5
2   3     Tunkhannock, PA   6/7/2017           3        0              3
3   4    Orlando, Florida   6/5/2017           5        0              5
4   5  Kirkersville, Ohio  5/12/2017           3        0              3

  Mental Health Issues   Race Gender   Latitude   Longitude           city  \
0                  NaN  White   Male  36.181271 -115.134132      Las Vegas
1                  Yes  Asian   Male        NaN         NaN  San Francisco
2                  NaN  White   Male        NaN         NaN    Tunkhannock
3                  NaN    NaN   Male        NaN         NaN        Orlando
4                  Yes  White   Male        NaN         NaN   Kirkersville

      state
0        NV
1        CA
2        PA
3   Florida
4      Ohio